*{
    font-family: quicksand, Arial, Helvetica, sans-serif;
}

a:hover ,img:hover, #adam_transition:hover{
    cursor: url(imgs/adam_ugly_ass_head.svg), auto;
}

.dark-bg{
    background-color: #071A33;
    color: white;
}

.light-bg-1{
    background-color: #FFEECF;
    color: #071A33;
}

.light-bg-2{
    background-color: #FFDB98;
    color: #071A33;
}

.light-bg-3{
    background-color: #FFD17B;
    color: #071A33;
}

.light-bg-4{
    background-color: #FFC352;
    color: #071A33;
}

/* row 1 */
div.main-div-1{
    height: 120px;
}

div.main-div-1 h1{
    font-weight: 700;
    font-size: calc(10px + 3vw);
}

/* row 2 ------------------------------------------------------------*/
div.main-div-2{
    min-height: 40vh;
}

div.main-div-2 div div div h2{
    text-align: center;
    font-weight: 800;
    font-size: calc(8px + 1.5vw);
}

div.main-div-2 div div div h5{
    text-align: center;
    font-weight: 500;
    font-size: calc(6px + 1vw);
}

img.circle_crop_1{
    height: 16vw;
    width: 16vw;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 8px 8px #071a33;
}

div#adam_transition{
    width: 16vw;
    height: 16vw;
    border-radius: 50%;
    background-size: 18vw;
    background-position: 0 -4vw;
    background-image: url("imgs/adam1.jfif");
    transition: background-image 0.2s ease;
    box-shadow: 8px 8px #071a33;
    margin: 0 auto;
}

div#adam_transition:hover{
    background-image: url("imgs/adam2.jfif");
    transition: 0.2s ease;
}

/* row 3 ------------------------------------------------------------*/
div#main_div3_left{
    background-color: #071a33;
    color: #ffc352;
    padding: 5vw 1.5vw;
    text-align: center;
}

    div#main_div3_left h2{
    font-size: calc(2vw + 5px);
    }

    div#main_div3_left h3{
    font-size: calc(2vw + 5px);
    color: #FFEECF;
    font-weight: 100;
    }

div#main_div3_right{
background-color: #ffeecf;
padding: 5vw;
color: #071a33;
}

    div#main_div3_right h2{
    font-size: calc(2vw + 5px);
    font-weight: 800;
    }

    div#main_div3_right h3{
    font-size: calc(2vw + 5px);
    font-weight: 400;
    }

    div#main_div3_right p{
    font-size: calc(0.75vw + 5px);
    font-weight: 800;
    margin: 0;
    }

    div#main_div3_right input{
    width: 100%;
    height: calc(3vh + 10px);
    }

a#rickroll_button{
    background-color: #071a33;
    color: #ffc352;
    text-decoration: none;
    margin: 2.5vw 2.5vw 2.5vw 0;
    padding: 1vw;
    font-weight: bold;
    border-radius: 1vw;
    width: calc(30vw + 110px);
    font-size: calc(1vw + 4px);
    text-align: center;
    transition: width 0.6s ease;
    display: block;
}

a#rickroll_button:hover::before{
    color: #071a33;
    content: "Get My FREE Money Now! (Could actually be a scam idk)";
}

a#rickroll_button:hover span{
    display: none;
}

a#rickroll_button:hover{
    background-color: #ffc352;
    width: calc(45vw + 100px);
}

/* row 4 ------------------------------------------------------------*/

div.main-div-4{
    min-height: 35vh;
    background-color: #ffc352;
    color: #071a33;
}

div.main-div-4 h3{
    font-size: calc(2.5vw + 15px);
    text-align: center;
    margin: 3vh 0;
    font-weight: 800;
}

div.main-div-4 span{
    background-image: url(imgs/adam_ugly_ass_head.svg);
    /* background-size: 4.5vw; */
    background-size: calc(3.5vw + 10px);
    background-repeat: no-repeat;
    background-position: left center;
    /* font-size: calc(1.35vw + 10px); */
    font-size: calc(1.65vw + 15px);
    list-style: none;
    padding: 2vw calc(3.5vw + 10px);
    display: inline;
    font-weight: 800;
    cursor: url(imgs/adam_ugly_ass_head.svg), auto;
}

div.main-div-4 span[truth_lie]{
    position: relative;
}

div.main-div-4 span[truth_lie]::after{
    content: attr(truth_lie);
    display: block;
    position: absolute;

    background-color: #FFEECF;
    padding: 1vh 1vw;
    color: #071a33;
    border-radius: 1vw;
    font-size: calc(1.25vw + 5px);
    top: -2.5vh;
    right: 3.5vw;
    transform: scale(0);
    transition: transform ease-in-out 0.25s;
}

div.main-div-4 span[truth_lie]:hover::after{
    transform: scale(1);
}


/* row 5 ------------------------------------------------------------*/
div.main-div-5{
    background-color: #071a33;
}

table.pretty_table_1{
    border-collapse: collapse;
    width: 100%;
    height: 75vh;
    cursor: url(imgs/adam_ugly_ass_head.svg), auto;
}

table.pretty_table_1 td{
    background-color: none;
    transition: background-color ease-in 5s;
}

table.pretty_table_1 td:hover{
    background-color: #fff4e0;
    transition: background-color ease-in 0s;
}

div.div-5-title{
background-color: #FFEECF;
}

div.div-5-title h2{
    font-size: 2.75vw;
    font-weight: 800;
}

div.div-5-title h3{
    font-size: 1.5vw;
    font-weight: 500;
}