*{
    font-family: quicksand, Arial, Helvetica, sans-serif;
}

a:hover ,img:hover, #adam_transition:hover{
    cursor: url(imgs/adam_ugly_ass_head.svg), auto;
}

.dark-bg{
    background-color: #071A33;
    color: white;
}

.light-bg-1{
    background-color: #FFEECF;
    color: #071A33;
}

.light-bg-2{
    background-color: #FFDB98;
    color: #071A33;
}

.light-bg-3{
    background-color: #FFD17B;
    color: #071A33;
}

.light-bg-4{
    background-color: #FFC352;
    color: #071A33;
}

/* row 1 */
div.main-div-1{
    height: 120px;
}

div.main-div-1 h1{
    font-weight: 700;
    font-size: calc(10px + 3vw);
}

/* row 2 ------------------------------------------------------------*/
div.main-div-2{
    min-height: 40vh;
}

div.main-div-2 div div div h2{
    text-align: center;
    font-weight: 800;
    font-size: calc(8px + 1.5vw);
}

div.main-div-2 div div div h5{
    text-align: center;
    font-weight: 500;
    font-size: calc(6px + 1vw);
}

img.circle_crop_1{
    height: 16vw;
    width: 16vw;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 8px 8px #071a33;
}

div#adam_transition{
    width: 16vw;
    height: 16vw;
    border-radius: 50%;
    background-size: 18vw;
    background-position: 0 -4vw;
    background-image: url("imgs/adam1.jfif");
    transition: background-image 0.2s ease;
    box-shadow: 8px 8px #071a33;
    margin: 0 auto;
}

div#adam_transition:hover{
    background-image: url("imgs/adam2.jfif");
    transition: 0.2s ease;
}

/* row 3 ------------------------------------------------------------*/
div#main_div3_left{
    background-color: #071a33;
    color: #ffc352;
    padding: 5vw 1.5vw;
    text-align: center;
}

    div#main_div3_left h2{
    font-size: calc(2vw + 5px);
    }

    div#main_div3_left h3{
    font-size: calc(2vw + 5px);
    color: #FFEECF;
    font-weight: 100;
    }

div#main_div3_right{
background-color: #ffeecf;
padding: 5vw;
color: #071a33;
}

    div#main_div3_right h2{
    font-size: calc(2vw + 5px);
    font-weight: 800;
    }

    div#main_div3_right h3{
    font-size: calc(2vw + 5px);
    font-weight: 400;
    }

    div#main_div3_right p{
    font-size: calc(0.75vw + 5px);
    font-weight: 800;
    margin: 0;
    }

    div#main_div3_right input{
    width: 100%;
    height: calc(3vh + 10px);
    }

a#rickroll_button{
    background-color: #071a33;
    color: #ffc352;
    text-decoration: none;
    margin: 2.5vw 2.5vw 2.5vw 0;
    padding: 1vw;
    font-weight: bold;
    border-radius: 1vw;
    width: calc(30vw + 110px);
    font-size: calc(1vw + 4px);
    text-align: center;
    transition: width 0.6s ease;
    display: block;
}

a#rickroll_button:hover::before{
    color: #071a33;
    content: "Get My FREE Money Now! (Could actually be a scam idk)";
}

a#rickroll_button:hover span{
    display: none;
}

a#rickroll_button:hover{
    background-color: #ffc352;
    width: calc(45vw + 100px);
}

